<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookCMS_Single2.My.MySettings.BookCMS_singleConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Users\peter\Documents\Visual Studio 2017\Projekte\BookCMS-Single2\BookCMS-Single2\bin\Release\Daten\BookCMS-Single.accdb"
            providerName="System.Data.OleDb" />
        <add name="ConnStr2" connectionString="LocalSqlServer: data source=127.0.0.1;Integrated Security=SSPI;Initial Catalog=aspnetdb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Saraff.Twain" publicKeyToken="467d7c56f22cafb6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.27.606" newVersion="1.0.27.606" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>